nav {
  color: $colorsel;
  
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    margin: 20px 0;
    font-weight: bold;
    
    li {
      background: $bgnav;
      border-radius: 10px;
      margin: 20px;
      padding: 13px 30px;
      list-style: none;
      transition: 0.2s;
      &:hover {
        cursor: pointer;
        animation: bouge 1s ease-in-out forwards;
        transition: transform 0.3s;
        box-shadow: blue;
      }
      @keyframes bouge {
        100% {
        transform: translateX(-12px) translateY(-4px) scale(1.2);
        }
      }
      &:hover::after {
        box-shadow: 4px 3px 9px 4px #7e7b7b73;
      }
    }
    

  }
}